<div class="container-fluid man-container">

    <% path = @current_user.id%>

    <h3>2020年度後期シフト</h3>
    <a href = "/shift/<%=path%>/register"><button type="button" class="btn btn-primary w-100 man-btn">シフト登録・更新</button></a>
    <a href = "/shift/<%=path%>/check"><button type="button" class="btn btn-primary w-100 man-btn">提出したシフトの確認</button></a>
</div>