
<!--
<div class="container-fluid man-container">
<table class="table table-bordered">

    

</table>
</div>
-->


 
 <div class = "container-fluid man-container">
  
    
      <table border=5>
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">①</th>
          <th scope="col">②</th>
          <th scope="col">③</th>
          <th scope="col">④</th>
          <th scope="col">⑤</th>
          <th scope="col">⑥</th>
          <th scope="col">⑦</th>
          <th scope="col">⑧</th>
       
         
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="place" scope="row">12/18(金)</td>
          <td class="place">

              <select name="s1_1218">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
          
          </td>

          <td class="place">
            
              <select name="s1_1219">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
          
          </td>

          <td class="place">
            
              <select name="s1_1220">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
          </td>

          <td class="place">
            
              <select name="s1_1221">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
           
          </td>


          <td class="place">
            
              <select name="s1_1222">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>

          <td class="place">
            
              <select name="s1_1223">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>

          <td class="place">
            
              <select name="s1_1223">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>

          <td class="place">
            
              <select name="s1_1223">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>

        </tr>

        <tr>
          <td class="place">12/19(土)</td>
          <td class="place">
            
              <select  name="s2_1218">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
           

          </td>

          <td class="place">
            
              <select  name="s2_1219">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
           
          </td>

          <td class="place">
            
              <select  name="s2_1220">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
           
          </td>


          <td class="place">
            
              <select  name="s2_1221">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>


          <td class="place">
            
              <select  name="s2_1222">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>


          <td class="place">
            
              <select  name="s2_1223">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>

          <td class="place">
            
              <select  name="s2_1223">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>

          <td class="place">
            
              <select  name="s2_1223">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>
        </tr>

        
        <tr>
          <td class="place">12/20(日)</td>

          <td class="place">
            
              <select  name="s3_1218">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
           

          </td>

          <td class="place">
            
              <select  name="s3_1219">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>

          <td class="place">
            
              <select  name="s3_1220">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>

          <td class="place">
            
              <select  name="s3_1221">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>

          <td class="place">
            
              <select  name="s3_1222">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>

          <td class="place">
            
              <select  name="s3_1223">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>
          <td class="place">
            
              <select  name="s3_1223">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>
          <td class="place">
            
              <select  name="s3_1223">
                <option value=3>×</option>
                <option value=1>〇</option>
                <option value=2>△</option>
              </select>
            
          </td>
        </tr>





        </tbody>


       
      </table>



      
  </div>

