<div class="container-fluid man-container">
<table class="table table-bordered">
  <tr><th>Name</th><th>Age</th></tr>
  <tr><td>Yamada</td><td>16</td></tr>
  <tr><td>Suzuki</td><td>26</td></tr>
  <tr><td>Tanaka</td><td>36</td></tr>
</table>
</div>