

      
 <div class = "container-fluid man-container">

  <input type="text" id = "user_name">
  
    
  <table border=3 class="man-table" id="tablea">


    <thead>
    <tr>
      <td></td>
      <td class="place">12/18(金)</td>
      <td class="place" bgcolor="#ccffff">12/19(土)</td>
      <td class="place">12/21(月)</td>
      <td class="place">12/22(火)</td>
      <td class="place">12/23(水)</td>
   
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="place" scope="row">①</td>
      <td class="place">

          <select name="s1_1218" id ="target11">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1219" id ="target12">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1220" id ="target13">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place">
        
          <select name="s1_1221" id ="target14">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="target15">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

    <tr>
      <td class="place">②</td>
      <td class="place">
        
          <select  name="s2_1218" id ="target21">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       

      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select  name="s2_1219" id ="target22">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>

      <td class="place">
        
          <select  name="s2_1220" id ="target23">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select  name="s2_1221" id ="target24">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


      <td class="place">
        
          <select  name="s2_1222" id ="target25">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

    <tr>
      <td class="place">③</td>

      <td class="place">
        
          <select  name="s3_1218" id ="target31">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       

      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select  name="s3_1219" id ="target32">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

      <td class="place">
        
          <select  name="s3_1220" id ="target33">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

      <td class="place">
        
          <select  name="s3_1221"id ="target34">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

      <td class="place">
        
          <select  name="s3_1222" id ="target35">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

      
    </tr>

     <tr>
      <td class="place" scope="row">④</td>
      <td class="place">

          <select name="s1_1218" id ="target41">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1219" id ="target42">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1220" id ="target43">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place">
        
          <select name="s1_1221" id ="target44">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="target45">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

     <tr>
      <td class="place" scope="row">⑤</td>
      <td class="place">

          <select name="s1_1218" id ="target51">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1219" id ="target52">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1220" id ="target53">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place">
        
          <select name="s1_1221" id ="target54">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="target55">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

     <tr>
      <td class="place" scope="row">⑥</td>
      <td class="place">

          <select name="s1_1218" id ="target61">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1219" id ="target62">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1220" id ="target63">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place">
        
          <select name="s1_1221" id ="target64">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="target65">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

     <tr>
      <td class="place" scope="row">⑦</td>
      <td class="place">

          <select name="s1_1218" id ="target71">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1219" id ="target72">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1220" id ="target73">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place">
        
          <select name="s1_1221" id ="target74">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="target75">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

     <tr>
      <td class="place" scope="row">⑧</td>
      <td class="place">

          <select name="s1_1218" id ="target81">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1219" id ="target82">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1220" id ="target83">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place">
        
          <select name="s1_1221" id ="target84">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="target85">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

    <tr>
      <td></td>
      <td class="place"><input type="button" value="All〇" onclick="maru1218()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru1219()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru1221()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru1222()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru1223()"></td>
    </tr>

    </tbody>

  </table>


  
  <table border=3 class="man-table" id="tableb">

  
    <thead>
    <tr>
      <td></td>
      <td class="place">12/24(木)</td>
      <td class="place">12/25(金)</td>
      <td class="place" bgcolor="#ccffff">12/26(土)</td>
      <td class="place" bgcolor="#ffc7af">12/27(日)</td>
      <td class="place">12/28(月)</td>
   
     
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="place" scope="row">①</td>
      <td class="place">

          <select name="s1_1218" id ="target16">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="target17">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1220" id ="target18">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select name="s1_1221" id ="target19">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="target110">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

    <tr>
      <td class="place">②</td>
      <td class="place">
        
          <select  name="s2_1218" id ="target26">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       

      </td>

      <td class="place">
        
          <select  name="s2_1219" id ="target27">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select  name="s2_1220" id ="target28">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place" bgcolor="#ffdbc9">
        
          <select  name="s2_1221" id ="target29">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


      <td class="place">
        
          <select  name="s2_1222" id ="target210">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

    <tr>
      <td class="place">③</td>

      <td class="place">
        
          <select  name="s3_1218" id ="target36">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       

      </td>

      <td class="place">
        
          <select  name="s3_1219" id ="target37">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select  name="s3_1220" id ="target38">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select  name="s3_1221"id ="target39">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

      <td class="place">
        
          <select  name="s3_1222" id ="target310">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

      
    </tr>

     <tr>
      <td class="place" scope="row">④</td>
      <td class="place">

          <select name="s1_1218" id ="target46">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="target47">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1220" id ="target48">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select name="s1_1221" id ="target49">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="target410">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

     <tr>
      <td class="place" scope="row">⑤</td>
      <td class="place">

          <select name="s1_1218" id ="target56">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="target57">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1220" id ="target58">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select name="s1_1221" id ="target59">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="target510">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

     <tr>
      <td class="place" scope="row">⑥</td>
      <td class="place">

          <select name="s1_1218" id ="target66">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="target67">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1220" id ="target68">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select name="s1_1221" id ="target69">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="target610">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

     <tr>
      <td class="place" scope="row">⑦</td>
      <td class="place">

          <select name="s1_1218" id ="target76">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="target77">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1220" id ="target78">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select name="s1_1221" id ="target79">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="target710">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

     <tr>
      <td class="place" scope="row">⑧</td>
      <td class="place">

          <select name="s1_1218" id ="target86">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="target87">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1220" id ="target88">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select name="s1_1221" id ="target89">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="target810">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

    <tr>
      <td></td>
      <td class="place"><input type="button" value="All〇" onclick="maru1224()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru1225()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru1226()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru1227()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru1228()"></td>
    </tr>

    </tbody>

  </table>

  <table border=3 class="man-table" id="tablec">

  
    <thead>
    <tr>
      <td></td>
      <td class="place">12/29(火)</td>
      <td class="place">12/30(水)</td>
      <td class="place" bgcolor="#ccffff">1/2(土)</td>
      <td class="place" bgcolor="#ffc7af">1/3(日)</td>
      <td class="place">1/4(月)</td>
   
     
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="place" scope="row">①</td>
      <td class="place">

          <select name="s1_1218" id ="targets11">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="targets12">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1220" id ="targets13">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select name="s1_1221" id ="targets14">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="targets15">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

    <tr>
      <td class="place">②</td>
      <td class="place">
        
          <select  name="s2_1218" id ="targets21">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       

      </td>

      <td class="place">
        
          <select  name="s2_1219" id ="targets22">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select  name="s2_1220" id ="targets23">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place" bgcolor="#ffdbc9">
        
          <select  name="s2_1221" id ="targets24">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


      <td class="place">
        
          <select  name="s2_1222" id ="targets25">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

    <tr>
      <td class="place">③</td>

      <td class="place">
        
          <select  name="s3_1218" id ="targets31">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       

      </td>

      <td class="place">
        
          <select  name="s3_1219" id ="targets32">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select  name="s3_1220" id ="targets33">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select  name="s3_1221"id ="targets34">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

      <td class="place">
        
          <select  name="s3_1222" id ="targets35">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

      
    </tr>

     <tr>
      <td class="place" scope="row">④</td>
      <td class="place">

          <select name="s1_1218" id ="targets41">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="targets42">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1220" id ="targets43">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select name="s1_1221" id ="targets44">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="targets45">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

     <tr>
      <td class="place" scope="row">⑤</td>
      <td class="place">

          <select name="s1_1218" id ="targets51">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="targets52">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1220" id ="targets53">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select name="s1_1221" id ="targets54">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="targets55">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

     <tr>
      <td class="place" scope="row">⑥</td>
      <td class="place">

          <select name="s1_1218" id ="targets61">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="targets62">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1220" id ="targets63">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select name="s1_1221" id ="targets64">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="targets65">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

     <tr>
      <td class="place" scope="row">⑦</td>
      <td class="place">

          <select name="s1_1218" id ="targets71">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="targets72">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1220" id ="targets73">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select name="s1_1221" id ="targets74">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="targets75">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>

     <tr>
      <td class="place" scope="row">⑧</td>
      <td class="place">

          <select name="s1_1218" id ="targets81">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="targets82">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place" bgcolor="#eeffff">
        
          <select name="s1_1220" id ="targets83">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      <td class="place" bgcolor="#ffdbc9">
        
          <select name="s1_1221" id ="targets84">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>


      <td class="place">
        
          <select name="s1_1222" id ="targets85">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>


    </tr>


    <tr>
      <td></td>
      <td class="place"><input type="button" value="All〇" onclick="maru1229()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru1230()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru0102()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru0103()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru0104()"></td>
    </tr>

    </tbody>

  </table>

  
  <table border=3 class="man-table" id="tabled">

  
    <thead>
    <tr>
      <td></td>
      <td class="place">1/5(火)</td>
      <td class="place">1/6(水)</td>
      <td class="place">1/7(木)</td>
   
     
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="place" scope="row">①</td>
      <td class="place">

          <select name="s1_1218" id ="targets16">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="targets17">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1220" id ="targets18">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

    

    </tr>

    <tr>
      <td class="place">②</td>
      <td class="place">
        
          <select  name="s2_1218" id ="targets26">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       

      </td>

      <td class="place">
        
          <select  name="s2_1219" id ="targets27">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>

      <td class="place">
        
          <select  name="s2_1220" id ="targets28">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       
      </td>



    </tr>

    <tr>
      <td class="place">③</td>

      <td class="place">
        
          <select  name="s3_1218" id ="targets36">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
       

      </td>

      <td class="place">
        
          <select  name="s3_1219" id ="targets37">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

      <td class="place">
        
          <select  name="s3_1220" id ="targets38">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
        
      </td>

     

      
    </tr>

     <tr>
      <td class="place" scope="row">④</td>
      <td class="place">

          <select name="s1_1218" id ="targets46">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="targets47">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1220" id ="targets48">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>


    </tr>

     <tr>
      <td class="place" scope="row">⑤</td>
      <td class="place">

          <select name="s1_1218" id ="targets56">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="targets57">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1220" id ="targets58">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

     


    </tr>

     <tr>
      <td class="place" scope="row">⑥</td>
      <td class="place">

          <select name="s1_1218" id ="targets66">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="targets67">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1220" id ="targets68">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      

    </tr>

     <tr>
      <td class="place" scope="row">⑦</td>
      <td class="place">

          <select name="s1_1218" id ="targets76">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="targets77">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1220" id ="targets78">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>

      

    </tr>

     <tr>
      <td class="place" scope="row">⑧</td>
      <td class="place">

          <select name="s1_1218" id ="targets86">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1219" id ="targets87">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      
      </td>

      <td class="place">
        
          <select name="s1_1220" id ="targets88">
            <option value="      ×      ">×</option>
            <option value="      〇      ">〇</option>
            <option value="      △      ">△</option>
          </select>
      </td>



    </tr>

    <tr>
      <td></td>
      <td class="place"><input type="button" value="All〇" onclick="maru0105()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru0106()"></td>
      <td class="place"><input type="button" value="All〇" onclick="maru0107()"></td>
    </tr>

    </tbody>

  </table>



  <a id="download" href="/shift.csv" download="shift.csv" onclick="shiftDownload()">csvファイルダウンロード</a>



  
</div>





      
  </div>

  <script>
    //ここからCSV出力＆ダウンロード
    function handleDownload() {
        var bom = new Uint8Array([0xEF, 0xBB, 0xBF]);//文字コードをBOM付きUTF-8に指定
        var table = document.getElementById('table1');//id=table1という要素を取得
        var data_csv="";//ここに文字データとして値を格納していく

        for(var i = 0;  i < table.rows.length; i++){
          for(var j = 0; j < table.rows[i].cells.length; j++){
            data_csv += table.rows[i].cells[j].innerText;//HTML中の表のセル値をdata_csvに格納
            if(j == table.rows[i].cells.length-1) data_csv += "\n";//行終わりに改行コードを追加
            else data_csv += ",";//セル値の区切り文字として,を追加
          }
        }

        var blob = new Blob([ bom, data_csv], { "type" : "text/csv" });//data_csvのデータをcsvとしてダウンロードする関数
        if (window.navigator.msSaveBlob) { //IEの場合の処理
            window.navigator.msSaveBlob(blob, "test.csv"); 
            //window.navigator.msSaveOrOpenBlob(blob, "test.csv");// msSaveOrOpenBlobの場合はファイルを保存せずに開ける
        } else {
            document.getElementById("download").href = window.URL.createObjectURL(blob);
        }

        delete data_csv;//data_csvオブジェクトはもういらないので消去してメモリを開放
    }

    function shiftDownload(){
      var bom = new Uint8Array([0xEF, 0xBB, 0xBF]);
      var table = document.getElementById('tablea');
      var tableb = document.getElementById('tableb');
      var tablec = document.getElementById('tablec');
      var tabled = document.getElementById('tabled');
      var data_csv="";
      var un = document.getElementById("user_name").value;

    data_csv += "\n";

      data_csv += un;
      data_csv += "さんの可能日調査"

      data_csv += "\n";
      data_csv += "\n";
     

     


        for(var i = 0; i < 9; i++){
          for(var j = 0; j < 11; j++){

            if(i == 0){
              if(j == 0) data_csv +=",";

              if(j < 6) data_csv += table.rows[i].cells[j].innerText;
              else {
                data_csv += tableb.rows[i].cells[j-5].innerText;
              }

              if (j == 10) data_csv += "\n";
              else data_csv += ",";
            }

            else if (j == 0){
              //data_csv += table.rows[i].cells[j].innerText;
             
              if(i==1) data_csv += "8:20～9:30"
              else if(i==2) data_csv += "9:40～10:50";
              else if(i==3) data_csv += "11:00～12:10";
              else if(i==4) data_csv += "12:20～13:10";
              else if(i==5) data_csv += "14:10～15:20";
              else if(i==6) data_csv += "15:30～16:40";
              else if(i==7) data_csv += "16:50～18:00";
              else if(i==8) data_csv += "18:10～19:20";
              data_csv += ",";
              data_csv += ",";
             
            }

          
            else{
              var num = "target" + i + j;
              //var element = document.getElementById("target");
              var element = document.getElementById(num);
              var a = element.value;
              data_csv += a;
              if(j == 10) data_csv += "\n";
              else data_csv += ",";
            }
          }
        }

        data_csv += "\n";
        data_csv += "\n";
        data_csv += "\n";

        for(var i = 0; i < 9; i++){
          for(var j = 0; j < 9; j++){
            if(i == 0){

              if(j==0) data_csv +=",";


              if(j < 6)data_csv += tablec.rows[i].cells[j].innerText;
              else data_csv += tabled.rows[i].cells[j-5].innerText;

              if(j == 8) data_csv += "\n";
              else data_csv += ",";
            }

            else if (j == 0){


              if(i==1) data_csv += "8:20～9:30"
              else if(i==2) data_csv += "9:40～10:50";
              else if(i==3) data_csv += "11:00～12:10";
              else if(i==4) data_csv += "12:20～13:10";
              else if(i==5) data_csv += "14:10～15:20";
              else if(i==6) data_csv += "15:30～16:40";
              else if(i==7) data_csv += "16:50～18:00";
              else if(i==8) data_csv += "18:10～19:20";
              data_csv += ",";
              data_csv += ",";
            }

            else{
              var num = "targets" + i + j;
              var element = document.getElementById(num);
              var a = element.value;
              data_csv += a;

              if(j == 8) data_csv += "\n";
              else data_csv += ",";

            }
          }
        }

        


        if(!un){
          alert("名前が未入力です。名前を入力してもう一度ダウンロードしてください。");
        }

        



     
        


        
        var blob = new Blob([ bom, data_csv], { "type" : "text/csv" });//data_csvのデータをcsvとしてダウンロードする関数
        if (window.navigator.msSaveBlob) { //IEの場合の処理
            window.navigator.msSaveBlob(blob, "shift.csv"); 
            //window.navigator.msSaveOrOpenBlob(blob, "test.csv");// msSaveOrOpenBlobの場合はファイルを保存せずに開ける
        } else {
            document.getElementById("download").href = window.URL.createObjectURL(blob);
        }

        delete data_csv;//data_csvオブジェクトはもういらないので消去してメモリを開放
      
       

    }

    //ここまでCSV出力＆ダウンロード
  
    function maru1218(){
      var t1 = document.getElementById("target11");
      var t2 = document.getElementById("target21");
      var t3 = document.getElementById("target31");
      var t4 = document.getElementById("target41");
      var t5 = document.getElementById("target51");
      var t6 = document.getElementById("target61");
      var t7 = document.getElementById("target71");
      var t8 = document.getElementById("target81");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    
    function maru1219(){
      var t1 = document.getElementById("target12");
      var t2 = document.getElementById("target22");
      var t3 = document.getElementById("target32");
      var t4 = document.getElementById("target42");
      var t5 = document.getElementById("target52");
      var t6 = document.getElementById("target62");
      var t7 = document.getElementById("target72");
      var t8 = document.getElementById("target82");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;
    }

    
    function maru1221(){
      var t1 = document.getElementById("target13");
      var t2 = document.getElementById("target23");
      var t3 = document.getElementById("target33");
      var t4 = document.getElementById("target43");
      var t5 = document.getElementById("target53");
      var t6 = document.getElementById("target63");
      var t7 = document.getElementById("target73");
      var t8 = document.getElementById("target83");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    
    function maru1222(){
      var t1 = document.getElementById("target14");
      var t2 = document.getElementById("target24");
      var t3 = document.getElementById("target34");
      var t4 = document.getElementById("target44");
      var t5 = document.getElementById("target54");
      var t6 = document.getElementById("target64");
      var t7 = document.getElementById("target74");
      var t8 = document.getElementById("target84");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    
    function maru1223(){
      var t1 = document.getElementById("target15");
      var t2 = document.getElementById("target25");
      var t3 = document.getElementById("target35");
      var t4 = document.getElementById("target45");
      var t5 = document.getElementById("target55");
      var t6 = document.getElementById("target65");
      var t7 = document.getElementById("target75");
      var t8 = document.getElementById("target85");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    
    function maru1224(){
      var t1 = document.getElementById("target16");
      var t2 = document.getElementById("target26");
      var t3 = document.getElementById("target36");
      var t4 = document.getElementById("target46");
      var t5 = document.getElementById("target56");
      var t6 = document.getElementById("target66");
      var t7 = document.getElementById("target76");
      var t8 = document.getElementById("target86");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    
    function maru1225(){
      var t1 = document.getElementById("target17");
      var t2 = document.getElementById("target27");
      var t3 = document.getElementById("target37");
      var t4 = document.getElementById("target47");
      var t5 = document.getElementById("target57");
      var t6 = document.getElementById("target67");
      var t7 = document.getElementById("target77");
      var t8 = document.getElementById("target87");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    
    function maru1226(){
      var t1 = document.getElementById("target18");
      var t2 = document.getElementById("target28");
      var t3 = document.getElementById("target38");
      var t4 = document.getElementById("target48");
      var t5 = document.getElementById("target58");
      var t6 = document.getElementById("target68");
      var t7 = document.getElementById("target78");
      var t8 = document.getElementById("target88");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    
    function maru1227(){
      var t1 = document.getElementById("target19");
      var t2 = document.getElementById("target29");
      var t3 = document.getElementById("target39");
      var t4 = document.getElementById("target49");
      var t5 = document.getElementById("target59");
      var t6 = document.getElementById("target69");
      var t7 = document.getElementById("target79");
      var t8 = document.getElementById("target89");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    
    function maru1228(){
      var t1 = document.getElementById("target110");
      var t2 = document.getElementById("target210");
      var t3 = document.getElementById("target310");
      var t4 = document.getElementById("target410");
      var t5 = document.getElementById("target510");
      var t6 = document.getElementById("target610");
      var t7 = document.getElementById("target710");
      var t8 = document.getElementById("target810");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    
    function maru1229(){
      var t1 = document.getElementById("targets11");
      var t2 = document.getElementById("targets21");
      var t3 = document.getElementById("targets31");
      var t4 = document.getElementById("targets41");
      var t5 = document.getElementById("targets51");
      var t6 = document.getElementById("targets61");
      var t7 = document.getElementById("targets71");
      var t8 = document.getElementById("targets81");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    function maru1230(){
      var t1 = document.getElementById("targets12");
      var t2 = document.getElementById("targets22");
      var t3 = document.getElementById("targets32");
      var t4 = document.getElementById("targets42");
      var t5 = document.getElementById("targets52");
      var t6 = document.getElementById("targets62");
      var t7 = document.getElementById("targets72");
      var t8 = document.getElementById("targets82");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    function maru0102(){
      var t1 = document.getElementById("targets13");
      var t2 = document.getElementById("targets23");
      var t3 = document.getElementById("targets33");
      var t4 = document.getElementById("targets43");
      var t5 = document.getElementById("targets53");
      var t6 = document.getElementById("targets63");
      var t7 = document.getElementById("targets73");
      var t8 = document.getElementById("targets83");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    function maru0103(){
      var t1 = document.getElementById("targets14");
      var t2 = document.getElementById("targets24");
      var t3 = document.getElementById("targets34");
      var t4 = document.getElementById("targets44");
      var t5 = document.getElementById("targets54");
      var t6 = document.getElementById("targets64");
      var t7 = document.getElementById("targets74");
      var t8 = document.getElementById("targets84");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    function maru0104(){
      var t1 = document.getElementById("targets15");
      var t2 = document.getElementById("targets25");
      var t3 = document.getElementById("targets35");
      var t4 = document.getElementById("targets45");
      var t5 = document.getElementById("targets55");
      var t6 = document.getElementById("targets65");
      var t7 = document.getElementById("targets75");
      var t8 = document.getElementById("targets85");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    function maru0105(){
      var t1 = document.getElementById("targets16");
      var t2 = document.getElementById("targets26");
      var t3 = document.getElementById("targets36");
      var t4 = document.getElementById("targets46");
      var t5 = document.getElementById("targets56");
      var t6 = document.getElementById("targets66");
      var t7 = document.getElementById("targets76");
      var t8 = document.getElementById("targets86");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    function maru0106(){
      var t1 = document.getElementById("targets17");
      var t2 = document.getElementById("targets27");
      var t3 = document.getElementById("targets37");
      var t4 = document.getElementById("targets47");
      var t5 = document.getElementById("targets57");
      var t6 = document.getElementById("targets67");
      var t7 = document.getElementById("targets77");
      var t8 = document.getElementById("targets87");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }

    function maru0107(){
      var t1 = document.getElementById("targets18");
      var t2 = document.getElementById("targets28");
      var t3 = document.getElementById("targets38");
      var t4 = document.getElementById("targets48");
      var t5 = document.getElementById("targets58");
      var t6 = document.getElementById("targets68");
      var t7 = document.getElementById("targets78");
      var t8 = document.getElementById("targets88");

      var ts1 = t1.options;
      var ts2 = t2.options;
      var ts3 = t3.options;
      var ts4 = t4.options;
      var ts5 = t5.options;
      var ts6 = t6.options;
      var ts7 = t7.options;
      var ts8 = t8.options;

      ts1[1].selected = true;
      ts2[1].selected = true;
      ts3[1].selected = true;
      ts4[1].selected = true;
      ts5[1].selected = true;
      ts6[1].selected = true;
      ts7[1].selected = true;
      ts8[1].selected = true;

    }




































</script>
  </body>
</html>

