<%= form_tag("/users/#{@current_user.id}/update_password") do %>
<form>
    <%if @error_message%>
            <%=@error_message%>
    <% end %>




<div class="container-fluid man-container">
    
      <div class="form-group">
        <label for="formGroupExampleInput">現在のパスワード</label>
        <input type="password" class="form-control" id="formGroupExampleInput" name= "password">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">新しいパスワード</label>
        <input type="password" class="form-control" id="formGroupExampleInput2" name ="new_password">
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput2">新しいパスワード(確認)</label>
        <input type="password" class="form-control" id="formGroupExampleInput2" name ="new_password_again">
      </div>
      <button class = "btn btn-primary w-100 man-btn">登録</button>


</div>

</form>
<% end %>


