<%= form_tag("/users/#{@current_user.id}/update_name") do %>
<form>
    <%if @error_message%>
            <%=@error_message%>
    <% end %>
    
  <div class="form-group">
    <label for="formGroupExampleInput">新しい名前</label>
    <input type="text" class="form-control" id="formGroupExampleInput"  name= "name">
  </div>
  
  <input type="submit" value="登録">
 
</form>
<% end %>


