<table border="1"class="table table-dark">

<thead>
    <tr bgcolor= "#ff9933">
        <td>名前</td>
        <td>シフト</td>
        <td>更新日</td>
    </tr>
</thead>

<% @user.each do |user|%>
    <tbody>
    <% if !(user.id == 1 or user.id == 2) %>
        <% @shift = Shift.find_by(user_id: user.id) %>

        <% if @shift %>

            <tr>
            <td><%=user.name%></td>
            <td><%= link_to "提出済み", "/shift/#{user.id}/check" %></td>
            <td><%= @shift.updated_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
            </tr>

        <% else %>

            <tr>
            <td><%= user.name %></td>
            <td>未提出</td>
            <td>-</td>
            </tr>

        <% end %>
        
    <% end %>
    </tbody>

<% end %>

</table>
