<% @user.each do |user|%>

    <% if user.id != 2 %>
        <% @shift = Shift.find_by(user_id: user.id) %>
        
        <% if @shift %>
            <%= link_to "#{user.name}", "/shift/#{user.id}/check" %>
            <p>提出済みです(<%= user.updated_at %>)</p>
        <% else %>
            <%= user.name %>
            <p>未提出です</p>
        <% end %>
    <% end %>

<% end %>

<table border="1"class="table table-dark">
  <thead>
    <tr>
      <th class = "place" scope="col"></th>
      <th class = "place" scope="col">月</th>
      <th class = "place" scope="col">火</th>
      <th class = "place" scope="col">水</th>
      <th class = "place" scope="col">木</th>
      <th class = "place" scope="col">金</th>
      <th class = "place" scope="col">土</th>

    </tr>
  </thead>

  <tbody>
    <tr>
      <th class = "place" scope="row">③</th>
      <td align = "center">-</td>
      <td align = "center">-</td>
      <td align = "center">-</td>
      <td align = "center">-</td>
      <td align = "center">-</td>
      <td align = "center">
        <input type = "radio" name = "sat3" value = 1>:○
        <input type = "radio" name = "sat3" value = 2>:△
        <input type = "radio" name = "sat3" value = 3 checked>:×
    　</td>
    
    </tr>
    <tr>
      <th class = "place" scope="row">④</th>
      <td align = "center">-</td>
      <td align = "center">-</td>
      <td align = "center">-</td>
      <td align = "center">-</td>
      <td align = "center">-</td>

      <td align = "center">
        <input type = "radio" name = "sat4" value = 1>:○
        <input type = "radio" name = "sat4" value = 2>:△
        <input type = "radio" name = "sat4" value = 3 checked>:×
    　</td>
    </tr>

    <tr>
      <th class = "place" scope="row">⑤</th>
      <td align = "center">-</td>
      <td align = "center">-</td>
      <td align = "center">-</td>
      <td align = "center">-</td>
      <td align = "center">-</td>
      <td align = "center">
        <input type = "radio" name = "sat5" value = 1>:○
        <input type = "radio" name = "sat5" value = 2>:△
        <input type = "radio" name = "sat5" value = 3 checked>:×
    　</td>
    </tr>

    <tr>
      <th class = "place" scope="row">⑥</th>
        <td align = "center">
            <input type = "radio" name = "mon6" value = 1>:○
            <input type = "radio" name = "mon6" value = 2>:△
            <input type = "radio" name = "mon6" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "tue6" value = 1>:○
            <input type = "radio" name = "tue6" value = 2>:△
            <input type = "radio" name = "tue6" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "wed6" value = 1>:○
            <input type = "radio" name = "wed6" value = 2>:△
            <input type = "radio" name = "wed6" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "thu6" value = 1>:○
            <input type = "radio" name = "thu6" value = 2>:△
            <input type = "radio" name = "thu6" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "fri6" value = 1>:○
            <input type = "radio" name = "fri6" value = 2>:△
            <input type = "radio" name = "fri6" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "sat6" value = 1>:○
            <input type = "radio" name = "sat6" value = 2>:△
            <input type = "radio" name = "sat6" value = 3 checked>:×
        </td>
    </tr>

    <tr>
    <th class = "place" scope="row">⑦</th>
      <td align = "center">
            <input type = "radio" name = "mon7" value = 1>:○
            <input type = "radio" name = "mon7" value = 2>:△
            <input type = "radio" name = "mon7" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "tue7" value = 1>:○
            <input type = "radio" name = "tue7" value = 2>:△
            <input type = "radio" name = "tue7" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "wed7" value = 1>:○
            <input type = "radio" name = "wed7" value = 2>:△
            <input type = "radio" name = "wed7" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "thu7" value = 1>:○
            <input type = "radio" name = "thu7" value = 2>:△
            <input type = "radio" name = "thu7" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "fri7" value = 1>:○
            <input type = "radio" name = "fri7" value = 2>:△
            <input type = "radio" name = "fri7" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "sat7" value = 1>:○
            <input type = "radio" name = "sat7" value = 2>:△
            <input type = "radio" name = "sat7" value = 3 checked>:×
        </td>
    </tr>

    <tr>
      <th class = "place" scope="row">⑧</th>
      <td align = "center">
            <input type = "radio" name = "mon8" value = 1>:○
            <input type = "radio" name = "mon8" value = 2>:△
            <input type = "radio" name = "mon8" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "tue8" value = 1>:○
            <input type = "radio" name = "tue8" value = 2>:△
            <input type = "radio" name = "tue8" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "wed8" value = 1>:○
            <input type = "radio" name = "wed8" value = 2>:△
            <input type = "radio" name = "wed8" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "thu8" value = 1>:○
            <input type = "radio" name = "thu8" value = 2>:△
            <input type = "radio" name = "thu8" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "fri8" value = 1>:○
            <input type = "radio" name = "fri8" value = 2>:△
            <input type = "radio" name = "fri8" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "sat8" value = 1>:○
            <input type = "radio" name = "sat8" value = 2>:△
            <input type = "radio" name = "sat8" value = 3 checked>:×
        </td>
    </tr>

    <tr>
      <th class = "place" scope="row">⑨</th>
      <td align = "center">
            <input type = "radio" name = "mon9" value = 1>:○
            <input type = "radio" name = "mon9" value = 2>:△
            <input type = "radio" name = "mon9" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "tue9" value = 1>:○
            <input type = "radio" name = "tue9" value = 2>:△
            <input type = "radio" name = "tue9" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "wed9" value = 1>:○
            <input type = "radio" name = "wed9" value = 2>:△
            <input type = "radio" name = "wed9" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "thu9" value = 1>:○
            <input type = "radio" name = "thu9" value = 2>:△
            <input type = "radio" name = "thu9" value = 3 checked>:×
        </td>
        <td align = "center">
            <input type = "radio" name = "fri9" value = 1>:○
            <input type = "radio" name = "fri9" value = 2>:△
            <input type = "radio" name = "fri9" value = 3 checked>:×
        </td>
        <td align = "center">
            -
        </td>
    </tr>

  </tbody>
</table>