

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">お問い合わせ</h2>
      <p class="card-text">不具合を発見したり、パスワードを忘れてしまったら川﨑のLINEもしくはyohei_green@icloud.comまでご連絡お願いします。</p>
      <p class="card-text">フロントエンドをもっとうまく書ける！という方も是非ご連絡ください。</p>
    </div>
  </div>

