<div class="container-fluid man-container">
  <h3 class="man-btn">お問い合わせ</h3>
  <ul>
    <li>バグや不具合を発見した。</li>
    <li>パスワードを忘れてしまった。</li>
    <li>システムが気になる。</li>
  </ul>
  <p>などその他ご意見、ご質問、ご要望等ございましたら<u>yohei_green@icloud.com</u>もしくは<u>川﨑のLINE</u>までご連絡をお願いします。</p>
</div>