
<div class="card-deck">

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">はじめに</h2>
      <p class="card-text">このアプリを通してスマホ・PCからシフトを提出することができます。(スマホだとちょっと使いにくいかもしれません。)
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">STEP1:アカウント作成</h2>
      <p class="card-text">画面下の"こちらから"をクリックし、名前とパスワードを入力してアカウントを作成しましょう。(名前は塾長が見てその人だと判断できるものにしてください。)</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">STEP:2シフト提出</h2>
      <p class="card-text">アカウントを作成したら"シフト登録"をクリックしてシフトを入力しましょう。</p>
      <p class = "card-text">入力し終わったら"登録"をクリックしてシフトを提出しましょう。</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">STEP:3シフト確認</h2>
      <p class="card-text">シフト提出が完了したら"シフト確認"をクリックして提出できているか確認しましょう。</p>
    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <h2 class="card-title">STEP:4ログアウト</h2>
      <p class="card-text">画面上部の"新規登録"をクリックし、名前とパスワードを入力してアカウントを作成しましょう。(名前は塾長が見てその人だと判断できるものにしてください。)</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">最後に</h2>
      <p class="card-text">このアプリはシフト提出を手軽にしようと思って個人的に開発したものです。提出したシフトは塾長のみ閲覧できる仕様となっているのでご安心ください。</p>
    </div>
  </div>
</div>