<h1>~使い方~</h1>
<h3>はじめに</h3>
<p>このアプリを通してスマホ・PCからシフトを提出することができます。(スマホだとちょっと使いにくいかもしれません。)</p>

<h3>STEP1:アカウント作成</h3>
<p>画面上部の"新規登録"をクリックし、名前とパスワードを入力してアカウントを作成しましょう。(名前は塾長が見てその人だと判断できるものにしてください。)</p>
<!--
<image src =  "/assets/signup.jpg" alt ="" width = "600" height = "300">
-->

<h3>STEP:2シフト提出</h3>
<p>アカウントを作成したら"シフト登録"をクリックしてシフトを入力しましょう。</p>
<p>入力し終わったら"登録"をクリックしてシフトを提出しましょう。</p>

<h3>STEP:3シフト確認</h3>
<p>シフト提出が完了したら"シフト確認"をクリックして提出できているか確認しましょう。</p>

<h3>STEP:4ログアウト</h3>
<p>最後に画面上部の"ログアウト"をクリックしてログアウトしましょう。</p>

<h3>最後に</h3>
<p>このアプリはシフト提出を手軽にしようと思って個人的に開発したものです。</p>
<p>提出したシフトは塾長のみ閲覧できる仕様となっているのでご安心ください。</p>
