<div class="container-fluid man-container">
  <h3 class="man-btn">使い方</h3>

  <div class="steps1 container-fluid man-container rounded">
    <h5 class="man-btn"><strong>はじめに</strong></h5>
    <p>このアプリはネットを用いた「シフト提出」のサービスです。</p>
    <p>PC・スマホからシフトを提出することができます。</p>
  </div>

  <div class="steps2 container-fluid man-container rounded">
    <h5 class="man-btn"><strong>STEP1:ログイン</strong></h5>
    <p>サイトにアクセスしたらまずは「ログイン」をしましょう。</p>
    <p>初めての方はログインページの「こちらから」もしくは、MENUタブの「新規登録」からアカウントを作成してください。</p>
    <p>(ユーザー名は本名でなくても構いませんが、塾長が見て本人だと特定できるものにしてください。)</p>
    <img class="description" src="/assets/login.png">
    <p></p>
  </div>

  <div class="steps1 container-fluid man-container rounded">
    <h5 class="man-btn"><strong>STEP2:シフト提出</strong></h5>
    <p>該当する期間を選択して、「シフト登録・更新」からシフトを提出しましょう。</p>
    <p>「〇、△、×」で入力をし終えたら「登録」をクリックしてシフトを提出しましょう。</p>
    <img class="description" src="/assets/register.png">
    <p></p>
  </div>

  <div class="steps2 container-fluid man-container rounded">
  <h5 class="man-btn"><strong>STEP3:シフト確認</strong></h5>
      <p>「シフト確認」からシフトが正常に提出できているか確認しましょう。</p>
  </div>

  <div class="steps1 container-fluid man-container rounded">
  <h5 class="man-btn"><strong>STEP:4ログアウト</strong></h5>
    <p>MENUタブの「ログアウト」からログアウトをしておしまいです。お疲れ様でした。</p>
  </div>





</div>