<h1>~使い方~</h1>
<h3>はじめに</h3>
<p>このアプリはFAXでシフトを提出するのが面倒だと思って作成したものです。スマホ・PCからシフトを提出することができます。</p>

<h3>STEP1:アカウント作成</h3>
<p>画面上部の"新規登録"をクリックして自分のアカウントを作成しましょう。</p>
<p>名前とパスワードを入力ましょう。</p>

<h3>STEP:2シフト提出</h3>
<p>アカウントを作成したら""をクリックしてシフトを提出しましょう。</p>
<p>入力が終わったら"登録"をクリックしてシフトを提出しましょう。</p>

<h3>STEP:3シフト確認</h3>
<p>シフト提出が完了したら""をクリックして提出できているか確認しましょう。</p>

<h3>STEP:4ログアウト</h3>
<p>最後に画面上部の"ログアウト"をクリックしてログアウトしましょう。</p>

<h3>最後に</h3>
<p>このアプリは私が個人的に作成したものなので利用することを強制するものではありません。</p>
<p>提出したシフトは塾長のみ閲覧できる仕様となっているもでご安心ください。もちろん製作者である私も閲覧できません。</p>
